
*{margin:0;padding:0;box-sizing:border-box;font-family:"Segoe UI",sans-serif}
body{background:#f5f6fa}

/* LAYOUT */
.wrapper{display:flex;height:100vh}

/* SIDEBAR */
.sidebar{
  width:240px;
  background:#fff;
  border-right:1px solid #eee;
  padding:20px;
}
.logo{
  font-size:22px;
  font-weight:bold;
  color:#e11d48;
  margin-bottom:30px;
}
.menu a{
  display:flex;
  align-items:center;
  gap:10px;
  padding:10px 12px;
  color:#555;
  text-decoration:none;
  border-radius:8px;
  margin-bottom:8px;
}
.menu a.active,
.menu a:hover{
  background:#ffe6ea;
  color:#e11d48;
}

.next {
  background: #e11d48;
  color: #fff;
  padding: 15px;
  border-radius: 10px;
  margin-top: 30px;

}


/* MAIN */
.main{flex:1;display:flex;flex-direction:column}

/* TOPBAR */
.topbar{
  background:#fff;
  padding:15px 25px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  border-bottom:1px solid #eee;
}
.search{
  width:360px;
  padding:8px 12px;
  border-radius:8px;
  border:1px solid #ccc;
}
.user{display:flex;align-items:center;gap:15px}

/* CONTENT */
.content{padding:25px;overflow:auto}
h2{margin-bottom:10px}

/* OVERVIEW */
.overview{
  background:linear-gradient(90deg,#ff0033,#ff3366);
  color:#fff;
  padding:20px;
  border-radius:16px;
  margin-bottom:25px;
}
.bar{
  background:rgba(255,255,255,.3);
  height:6px;
  border-radius:10px;
  margin-top:10px;
}
.bar span{
  display:block;
  height:100%;
  width:56%;
  background:#fff;
  border-radius:10px;
}

/* SECTION */
.section-title{
  font-size:16px;
  font-weight:bold;
  margin:20px 0 10px;
}

/* GRID */
.grid{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:15px;
}

/* ACHIEVEMENT CARD */
.card{
  background:#fff;
  padding:18px;
  border-radius:14px;
  border:1px solid #eee;
  display:flex;
  gap:15px;
}
.icon{
  width:46px;
  height:46px;
  border-radius:12px;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:20px;
}
.red{background:#ffe6ea;color:#e11d48;border:1px solid #e11d48}
.blue{background:#eef3ff;color:#3366ff;border:1px solid #3366ff}
.gold{background:#fff7e6;color:#ff9900;border:1px solid #ff9900}
.purple{background:#f4ecff;color:#7b3fe4;border:1px solid #7b3fe4}
.green{background:#e9f9f0;color:#22a06b}

.small{font-size:13px;color:#666}
.unlocked{color:#22a06b;font-size:12px;margin-top:5px}

/* PROGRESS */
.progress{
  background:#eee;
  height:6px;
  border-radius:10px;
  margin-top:8px;
}
.progress span{
  display:block;
  height:100%;
  border-radius:10px;
}
.p-green{background:#22a06b;width:60%}
.p-orange{background:#ff9900;width:80%}
.p-blue{background:#3366ff;width:45%}
.p-purple{background:#7b3fe4;width:25%}

/* MOTIVATION */
.motivation{
  background:#fffbe6;
  border:1px solid #ffe58f;
  padding:20px;
  border-radius:14px;
  margin-top:25px;
}
.motivation button{
  background:#e11d48;
  color:#fff;
  border:none;
  padding:10px 18px;
  border-radius:8px;
  margin-top:10px;
  cursor:pointer;
}
