
*{margin:0;padding:0;box-sizing:border-box;font-family:"Segoe UI",sans-serif}
body{background:#f5f6fa}

/* LAYOUT */
.wrapper{display:flex;height:100vh}

/* SIDEBAR */
.sidebar{
  width:240px;
  background:#fff;
  border-right:1px solid #eee;
  padding:20px;
}
.logo{
  font-size:22px;
  font-weight:bold;
  color:#e11d48;
  margin-bottom:30px;
}
.menu a{
  display:flex;
  align-items:center;
  gap:10px;
  padding:10px 12px;
  color:#555;
  text-decoration:none;
  border-radius:8px;
  margin-bottom:8px;
}
.menu a.active,
.menu a:hover{
  background:#ffe6ea;
  color:#e11d48;
}

.next {
  background: #e11d48;
  color: #fff;
  padding: 15px;
  border-radius: 10px;
  margin-top: 30px;
 
}


/* MAIN */
.main{flex:1;display:flex;flex-direction:column}

/* TOPBAR */
.topbar{
  background:#fff;
  padding:15px 25px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  border-bottom:1px solid #eee;
}
.search{
  width:350px;
  padding:8px 12px;
  border-radius:8px;
  border:1px solid #ccc;
}
.user{display:flex;align-items:center;gap:15px}

/* CONTENT */
.content{padding:25px;overflow:auto}
h2{margin-bottom:5px}
.sub{color:#777;margin-bottom:20px}

/* STATS */
.stats{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:20px;
  margin-bottom:25px;
}
.stat{
  background:#fff;
  padding:20px;
  border-radius:12px;
  border:1px solid #eee;
}
.stat h3{font-size:22px;margin-top:8px}

/* FILTER */
.filter{
  background:#fff;
  padding:15px;
  border-radius:12px;
  margin-bottom:20px;
}
.filter button{
  padding:6px 12px;
  border-radius:20px;
  border:1px solid #ccc;
  background:#fff;
  margin-right:8px;
  cursor:pointer;
}
.filter button.active{
  background:#e11d48;
  color:#fff;
  border-color:#e11d48;
}

/* CARD */
.card{
  background:#fff;
  border-radius:12px;
  padding:20px;
  margin-bottom:15px;
  border:1px solid #eee;
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.leftc{display:flex;gap:15px}
.icon{
  width:50px;height:50px;
  background:#e11d48;
  border-radius:12px;
  color:#fff;
  display:flex;
  align-items:center;
  justify-content:center;
  font-weight:bold;
}
.small{font-size:13px;color:#777}
.badge{
  background:#e6f7ed;
  color:#22a06b;
  padding:4px 10px;
  border-radius:20px;
  font-size:12px;
}
.download{
  border:1px solid #e11d48;
  color:#e11d48;
  background:#fff;
  padding:6px 12px;
  border-radius:20px;
  cursor:pointer;
}
.highlight{
  background:#fffbe6;
  padding:8px;
  border-radius:8px;
  margin-top:10px;
  font-size:13px;
}