
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f6f7fb;
}

/* LAYOUT */
.layout {
  display: flex;
}

/* SIDEBAR */
.sidebar {
  width: 240px;
  background: #fff;
  height: 100vh;
  padding: 20px;
  border-right: 1px solid #eee;
}
.logo{
  font-size:22px;
  font-weight:bold;
  color:#e11d48;
  margin-bottom:30px;
}

nav a{
  display:flex;
  align-items:center;
  gap:10px;
  padding:10px 12px;
  color:#555;
  text-decoration:none;
  border-radius:8px;
  margin-bottom:8px;
}


nav a:hover {
  background: #ffe6eb;
  color: #e11d48;
}

.eligible-box {
  background: #e11d48;
  color: #fff;
  padding: 15px;
  border-radius: 10px;
  margin-top: 30px;
}



/* MAIN */
main {
  flex: 1;
  padding: 20px 30px;
}

/* TOPBAR */
.topbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.topbar input {
  width: 45%;
  padding: 9px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.profile button {
  background: none;
  border: none;
  color: #e11d48;
}

/* TITLE */
.title {
  margin-bottom: 15px;
}

/* SEARCH */
.search {
  display: flex;
  gap: 10px;
  margin-bottom: 12px;
}

.search input, select {
  padding: 9px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

/* ALERT */
.alert {
  background: #ffe6e6;
  color: #e11d48;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 15px;
}

/* REQUEST CARD */
.request {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.blood {
  width: 50px;
  height: 50px;
  background: #e11d48;
  color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-right: 15px;
}

.details {
  flex: 1;
}

.details small {
  color: #777;
}

.tag {
  background: #ffe6e6;
  color: #e11d48;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 12px;
  margin-right: 10px;
}

.actions button {
  padding: 7px 12px;
  border-radius: 6px;
  margin-left: 5px;
  border: none;
}

.respond {
  background: #e11d48;
  color: #fff;
}

.outline {
  background: #fff;
  border: 1px solid #ccc;
}
