* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

body {
  background: #fff7f8;
  color: #222;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 60px;
  border-bottom: 1px solid #eee;
  background: #fff;
}

.logo span{
  font-size:15px;
  color:#e11d48;
  margin-bottom:30px;
}

.login {
  color: #e11d48;
  text-decoration: none;
  font-weight: 500;
}

/* HERO */
.hero {
  text-align: center;
  padding: 60px 20px;
}

.badge {
  display: inline-block;
  background: #ffe6ea;
  color: #e11d48;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 13px;
  margin-bottom: 20px;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

.hero h1 span {
  color: #e11d48;
}

.hero p {
  max-width: 650px;
  margin: auto;
  color: #666;
}

.hero-buttons {
  margin-top: 25px;
}

.hero-buttons button {
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 14px;
  margin: 0 6px;
  cursor: pointer;
}

.primary {
  background: #e11d48;
  color: #fff;
  border: none;
}

.outline {
  background: #fff;
  color: #e11d48;
  border: 1px solid #e11d48;
}

/* STATS */
.stats {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 30px 0;
}

.stat {
  background: #fff;
  padding: 25px;
  width: 180px;
  text-align: center;
  border-radius: 12px;
  border: 1px solid #eee;
}

.stat .icon {
  font-size: 26px;
  margin-bottom: 10px;
}

/* FEATURES */
.features {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 40px 20px;
}

.feature {
  background: #fff;
  padding: 25px;
  width: 280px;
  border-radius: 12px;
  border: 1px solid #eee;
}

.ficon {
  font-size: 26px;
  margin-bottom: 10px;
}

.feature p {
  font-size: 14px;
  color: #666;
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  border-top: 1px solid #eee;
  font-size: 13px;
  background: #fff;
}
